p#pogrubienie_Lyczak {
  font-size: 31px;
  color: #995cd3;
}
p#pochylona_Lyczak {
  font-size: 36pt;
  color: #fdc06f;
}
p#index_gorny_Lyczak {
  font-size: 1.1cm;
  color: #a38e1f;
}
p#index_dolny_Lyczak {
   font-size: 1.7cm;
   color: rgb(28%, 95%, 91%);
}
p#mono_Lyczak {
  font-size: 41px;
  color: #2dde6f;
}
p#powiekszenie_Lyczak {
  color: #673ea1;
}
p#pomniejszenie_Lyczak {
  color: rgb(80%, 64%, 24% );
}
